* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    background-image: linear-gradient(-45deg, #D4E6F1 50%, #D4EFDF 50%);
    font-family: 'Raleway', sans-serif;
}

.titulo {
    font-size: 95px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: #000000;
}

.subtitulo {
    margin: 0;
    color: #000000;
    display: inline;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #ffff;
}

.carousel{
    min-height: 500px;
}

.carousel .carousel-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
   
    width: 800 px;
    height: 8000 px;
}

.carousel .carousel-item img{
width: 270%;
height: 220%;
object-fit: cover;
position: absolute;
top:1000;
left: 1000;
z-index: -1;
border-radius: 15px;
    }


    .ima{
        border-radius: 35px;
    }

    .carousel.indicators.indicator-item {
    border-radius: 0;
    transform: rotate(45 deg);
    margin:0 15px;
    background: #36221c;
    }